body {
  width: 100%;
  height: 100%;
}

.background {
  overflow-x: hidden;
  background: #000 url("./../../assets/background.png") fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &__loading {
    position: absolute;
    transition: 2s;
  }
}