body {
  width: 100%;
  height: 100%;
  font-family: $font-title;

  @include phone {
    font-size: 70%;
  }
}

.background {
  overflow-x: hidden;
  background: #000 url("./../../assets/background.png") fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &__loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 45%;
    transition: 2s;
    font-size: 4rem;
    z-index: 10;
    top: 50%;

    @include phone {
      top: auto;
      font-size: 2rem;
      left: 25%;
    }

    .nes-icon.is-large {
      @include phone {
        margin: 1rem 25%;
      }
    }

    &__text {
      display: flex;
      color: white;

      p {
        text-shadow:
                0 -1px 0 #fff,
                0 1px 0 #2e2e2e,
                0 2px 0 #2c2c2c,
                0 3px 0 #2a2a2a,
                0 4px 0 #282828,
                0 5px 0 #262626,
                0 6px 0 #242424,
                0 7px 0 #222,
                0 8px 0 #202020,
                0 9px 0 #1e1e1e,
                0 10px 0 #1c1c1c,
                0 11px 0 #1a1a1a,
                0 12px 0 #181818,
                0 13px 0 #161616,
                0 14px 0 #141414,
                0 15px 0 #121212,
                0 22px 30px rgba(0,0,0,0.9);
      }

      p, span {
        font-size: 2rem;
        color: #FFF;

        @include phone {
          font-size: 1.5rem;
          margin: 0 auto;
        }
      }

      span {
        @include animation('blink 2s infinite both');

        &:nth-child(3) {
          animation-delay: .2s;
        }

        &:nth-child(4) {
          animation-delay: .4s;
        }
      }
    }

    i {
      margin: 1rem 7rem;
    }
  }

  &.blur {
    &:after {
      @include pseudo;
      width: 100%;
      height: 100%;
      transition: 2s;
      background-color: #000;
      opacity: 0.8;
    }
  }
}

@include keyframes(blink) {
  0% {
    color: transparent;
  }
  20% {
    color: white;
  }
  100% {
    color: transparent;
  }
}