.games {
  font-family: $font-title;
  margin: 2rem;

  &__container {

    &__description {
      width: 50%;
      background-color: #212529;
      color: #FFFFFF;
      //border-image-source: url(data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version… h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>);
      outline-color: #e7e7e7;

      p {
        font-size: 0.7rem;
        line-height: 2rem;
      }
    }

    &__details {
      width: 50%;

    }
  }

}