.games {
  font-family: $font-title;
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 50%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: absolute;
  transition: 2s;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    margin: 1rem;
    transition: 1s;
    z-index: 10;
    background-color: #FFFFFF;
    color: black;

    &:nth-child(1):hover {
      background-color: #004060;
    }

    &:nth-child(2):hover {
      background-color: #002040;
    }

    &:nth-child(3):hover {
      background-color: #000040;
    }

    &:nth-child(4):hover {
      background-color: #000020;
    }

    h2 {
      color: #FFF;
      font-size: 0.6rem;
      line-height: 1.5rem;
      width: 70%;
      text-shadow: 2px 2px 2px black;
    }

    &__details {
      display: flex;
      justify-content: center;
      align-content: center;

      &__description {
        width: 60%;
        background-color: #212529;
        color: #FFFFFF;outline-color: #e7e7e7;

        p {
          font-size: 0.6rem;
          line-height: 1.5rem;
        }
      }

      &__photos {
        width: 40%;

        img {
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          object-fit: cover;
        }

      }
    }
  }

}