.games {
  font-family: $font-title;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 50%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: absolute;
  transition: 2s;

  &__animation:nth-child(1) &__container:hover {
    background-color: #004060;
  }

  &__animation:nth-child(2) &__container:hover {
    background-color: #002040;
  }

  &__animation:nth-child(3) &__container:hover {
    background-color: #000040;
  }

  &__animation:nth-child(4) &__container:hover {
    background-color: #000020;
  }

  &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 1rem;
      transition: 1s;
      z-index: 10;
      background-color: #FFFFFF;
      color: black;
      width: 35rem;

    h2 {
      font-size: 0.7rem;
      line-height: 1.5rem;
      width: 70%;
      text-shadow: 2px 2px 2px black;
    }

    &__details {
      display: flex;
      justify-content: center;
      align-content: center;

      &__description {
        width: 60%;
        background-color: #212529;
        color: #FFFFFF;outline-color: #e7e7e7;

        p {
          font-size: 0.6rem;
          line-height: 1.5rem;
        }
      }

      &__photos {
        width: 40%;

        img {
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          object-fit: cover;
        }

      }
    }
  }

  &__button {

    .left, .right {
      position: absolute;
      top: 10rem;
    }

    .left {
      left: 30%;
    }

    .right {
      right: 30%;
    }
  }
}