.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-title;
  height: 100vh;

  @include phone {
    justify-content: flex-start;
    padding-top: 30%;
  }

  &__label {
    text-align: center;
    color: #FFF;
    font-size: 3rem;
    line-height: 4rem;
    text-shadow: $shadow;

    @include phone {
      font-size: 2rem;
      margin: 1rem;
    }
  }

  &__input {
    background-color: $color-input;
    padding: 0.5rem;
    width: 30rem;
    margin: 4rem;

    @include phone {
      width: 90%;
    }
  }

  &__button {
    width: 15rem;
    height: 3rem;
  }
}

.nes-input.is-error {
  background-color: $color-input;
  color: $color-text;
}