.single {
  display: flex;
  flex-direction: column;
  z-index: 20;
  width: 80vw;
  height: 85vh;
  left: 10%;
  top: 10%;

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;

    h2 {
      color: #004f9c;
      font-size: 2rem;
    }
  }

  &.is-dark {
    position: absolute;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 1rem;
      width: 100%;

      &__single {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          border: 0.5rem double white;
        }
      }

      &__age {
        text-align: right;
        width: 70%;
        margin: 1rem 2rem;
      }
    }

    &__text, .text {
      text-align: left;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      border-bottom: 0.2rem solid #006fa7;
      line-height: 2rem;
    }

    &__text {
      border: none;
      width: 100%;
    }
  }

  .title {
    font-size: 1rem;
    color: #006fa7;
    margin: 0 1rem;
  }

  p {
    line-height: 1.5rem;
    font-size: 0.7rem;
    margin-left: 1rem;
    padding: 0.3rem 0;
  }

  .age_rating {
    justify-content: end;

    p {
      display: flex;
      flex-direction: column;
    }

    &__text {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }
}